/* animate motor wiggle */
#Engine_Top {
  transform-origin: 75% 50%;
}
.animation #Engine_Top {
  animation: wiggle 80ms infinite;
  animation-delay: 5.5s;
}
.stop-animation #Engine_Top {
  animation: none;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-0.2deg);
  }
  50% {
    transform: rotate(0.2deg);
  }
}

/* animate propeller turning */
#Propeller_Arms {
  transform-origin: 13% 92%;
  opacity: 0;
}
.animation #Propeller_Arms {
  animation: start-propeller 10s linear, propeller 250ms linear infinite;
}
.stop-animation #Propeller_Arms {
  animation: none;
}
@keyframes propeller {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(-1);
  }
}
@keyframes start-propeller {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* animate boat wiggle */
#Man {
  transform-origin: 30% 100%;
}
.animation #Man {
  animation: boat-wiggle 370ms;
  animation-iteration-count: infinite;
  animation-delay: 8s;
}
.stop-animation #Man {
  animation: none;
}
@keyframes boat-wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.7deg);
  }
}
@keyframes boat-wiggle-out {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-0.7deg);
  }
}

/* animate opening laptop */
#Laptop_top {
  transform-origin: 81.3% 40.8%;
  transform: rotate(-106deg);
}
.animation #Laptop_top {
  animation: open-laptop 2s;
  animation-fill-mode: forwards;
}
.stop-animation #Laptop_top {
  animation: close-laptop 2s;
}
@keyframes open-laptop {
  20% {
    transform: rotate(-106deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes close-laptop {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-106deg);
  }
}

/* animate left arm opening the laptop */
#L_arm {
  transform-origin: 48% 22%;
  animation-fill-mode: forwards;
}
.animation #L_arm {
  animation: l-arm-opening-laptop 4s;
}
.stop-animation #L_arm {
  animation: l-arm-closing-laptop 4s;
}
#L_lower_arm {
  transform-origin: 50% 42.5%;
  animation-fill-mode: forwards;
}
.animation #L_lower_arm {
  animation: l-low-arm-opening-laptop 4s, typing 300ms 4s infinite;
}
.stop-animation #L_lower_arm {
  animation: l-low-arm-closing-laptop 4s;
}
@keyframes l-arm-opening-laptop {
  10% {
    transform: rotate(29deg);
  }
  50% {
    transform: rotate(-38deg);
  }
}
@keyframes l-arm-closing-laptop {
  25% {
    transform: rotate(-38deg);
  }
  60% {
    transform: rotate(29deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes l-low-arm-opening-laptop {
  10% {
    transform: rotate(-23deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes l-low-arm-closing-laptop {
  25% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-23deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* animate typing */
#R_arm {
  transform-origin: 50% 50%;
}
.animation #R_arm {
  animation: typing 300ms 4150ms infinite;
}
.stop-animation #R_arm {
  animation: none;
}
@keyframes typing {
  0%,
  100% {
  }
  50% {
    transform: rotate(-3deg);
  }
}

/* animate wave */
.water {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  transform: translateY(100%);
  opacity: 1;
  transition: transform 5s 7s;
}
.animation .water {
  transform: translateY(0);
}

.stop-animation .water {
  transition-delay: 1s;
}

.wave {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 436.1 80' %3E%3Cpath id='wave' d='M0 80 C150 80 280 80 436 80 C300 80 288 0 218 0 C148 0 130 80 0 80' fill='white' /%3E%3C/svg%3E");
  background-size: contain;
  animation: wave 300ms linear infinite;
}
@keyframes wave {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -233%;
  }
}
