button:active,
a:active {
  transform: translateY(0.2rem);
}

.nav-link {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 0;
  outline-offset: 8px;
}

.nav-link > span {
  text-decoration: underline;
  font-style: italic;
}
.nav-link.nav-link-back > span {
  font-style: initial;
  transform: rotate(-5deg) skew(5deg, 5deg);
}
.nav-link > svg {
  margin-left: 10px;
}

.nav-link.nav-link-back > svg {
  margin-left: initial;
  margin-right: 10px;
  transform: rotate(180deg);
}

/* link animation */
.nav-link:hover > svg,
.nav-link:focus > svg {
  animation: 2s inviting-wiggle 0.5s infinite;
}
.nav-link.nav-link-back:hover > svg {
  animation: 2s inviting-wiggle-back 0.5s infinite;
}

@keyframes inviting-wiggle {
  0% {
    transform: translateX(0);
  }
  6.25% {
    transform: translateX(-5px);
  }
  12.5% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(0);
  }
  37.5% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes inviting-wiggle-back {
  0% {
    transform: rotate(180deg) translateX(0);
  }
  6.25% {
    transform: rotate(180deg) translateX(-5px);
  }
  12.5% {
    transform: rotate(180deg) translateX(10px);
  }
  25% {
    transform: rotate(180deg) translateX(0);
  }
  37.5% {
    transform: rotate(180deg) translateX(5px);
  }
  50% {
    transform: rotate(180deg) translateX(0);
  }
  100% {
    transform: rotate(180deg) translateX(0);
  }
}

@keyframes wait {
}
