/* variables */
:root {
  /* colors */
  --primary-color: var(--text-color);
  --muted-color: #525252;
  --text-color: #121212;
  --background-color: #fafafa;
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--text-color);
    --muted-color: #ababab;
    --text-color: #fafafa;
    --background-color: #1e1e23;
  }
}

/* general */
html {
  font-family: sans-serif;
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-transform: lowercase;
  word-break: break-word;
}
.outer-page {
  overflow: scroll;
}
.inner-page {
  margin: 0 auto;
}
.inner-page,
nav,
footer {
  max-width: 700px;
  padding: 0 20px;
  width: 100%;
}
nav {
  margin: 1rem auto 0 auto;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
footer {
  width: 100%;
  margin: 0 auto 1rem auto;
}

hr {
  margin: 3.5rem 0;
  border: none;
  height: 2px;
  border-radius: 2px;
  background: var(--muted-color);
}
h1 {
  font-size: 4rem;
  font-size: clamp(28px, 12vw, 4rem);
  font-weight: 500;
  font-family: serif;
  margin: 0 0 1.5rem 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  text-transform: initial;
}
.text {
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
.text > *:not(:last-child) {
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--muted-color);
  margin: 1rem 0;
}
.italic {
  font-style: italic;
}
.link {
  color: var(--muted-color);
  text-decoration: underline;
}

/* icons */
#icons {
  display: none;
}
.icon {
  color: currentColor;
  vertical-align: bottom;
}
.icon-sm {
  height: 11px;
  width: 11px;
}
.icon-m {
  height: 14px;
  width: 14px;
}

/* home */
#home.outer-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#home .inner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-top: 8vh;
}

#home .hero {
  font-size: 7.6rem;
  font-size: clamp(20px, 15.5vw, 7.6rem);
  line-height: clamp(20px, 15.5vw, 7.6rem);
  font-family: serif;
  margin: 0;
  text-align: center;
}
#home .hero-subtitle {
  font-size: 1.5rem;
  font-size: clamp(15px, 4vw, 1.5rem);
  line-height: clamp(15px, 4vw, 1.5rem);
  font-weight: 200;
  text-align: center;
}
#home footer {
  width: 100%;
}

/* about me */
#about-me img {
  clip-path: url("#about-me-clip-path");
  width: 100%;
  height: auto;
  float: left;
}
@media (min-width: 350px) {
  #about-me img {
    height: 200px;
    width: 175px;
    margin-right: 1.5rem;
    shape-outside: circle(53%);
  }
}
#about-me #about-me-outer-container {
  position: relative;
}
#about-me #about-me-outer-container svg {
  position: absolute;
  top: 0;
  left: 0;
}
#about-me-values-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}
#about-me-values-container > * {
  min-width: min-content;
}
#about-me-values-container h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (min-width: 400px) {
  #about-me-values-container > * {
    max-width: calc(50% - 1.3rem);
    min-width: min-content;
  }
}
#about-me .clipped {
  width: 100px;
  height: 350px;
  background: turquoise url(https://source.unsplash.com/600x600?summer);
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}
#about-me #external-links {
  color: var(--muted-color);
}
#about-me #external-links h1 {
  font-family: sans-serif;
}
#about-me #external-links li {
  display: flex;
  margin-top: 0.5rem;
}
#about-me #external-links li:first-of-type {
  margin-top: 0.8rem;
}
#about-me #external-links li > span[role="img"] {
  margin-right: 10px;
}
#about-me #external-links li > span:last-of-type {
  display: inline-flex;
  flex-direction: column;
  word-break: break-word;
  margin-right: 5px;
}
@media (min-width: 480px) {
  #about-me #external-links li > span:last-of-type {
    flex-direction: row;
  }
}

/* projects */
#projects img {
  width: 100%;
}
#projects li {
  margin: 7px 0;
}
#projects ul {
  list-style: disc;
  padding-left: 1rem;
}
#projects .text img {
  margin-top: 0.5rem;
}
@media (min-width: 600px) {
  #projects hr {
    visibility: hidden;
  }
}

/* legal */
#legal h1 {
  margin: 1rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}
#legal h2,
#legal span,
#legal p {
  margin: 1rem 0;
}
#legal h2 {
  font-size: 1rem;
  font-weight: 600;
}
