/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* variables */
:root {
  /* colors */
  --primary-color: var(--text-color);
  --muted-color: #737373;
  --text-color: #1c1c1c;
  --background-color: #fafafa;
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--text-color);
    --muted-color: #858585;
    --text-color: #fafafa;
    --background-color: #1c1c1c;
  }
}

/* general */
html {
  font-family: "Roboto", sans-serif;
}
body {
  max-width: 800px;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0 20px;
}
footer {
  margin: 3rem 0;
}
p,
label {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}
button:active,
a:active {
  transform: translateY(0.2rem);
}
svg {
  fill: currentColor;
}
hr {
  margin: 3.5rem 0;
  border: none;
  height: 2px;
  border-radius: 2px;
  background: var(--muted-color);
}
.icon {
  height: 12px;
  width: 12px;
  color: currentColor;
}

/* layout */
#home {
  padding-top: 1rem;
}
#projects {
  padding-top: 2rem;
}
.title {
  font-size: 4rem;
  font-size: clamp(28px, 12vw, 4rem);
  font-weight: 500;
  color: var(--text-color);
  margin: 1rem 0 1.5rem 0;
}
.text {
  max-width: 600px;
  margin-bottom: 2rem;
}
.text > p:not(:last-of-type) {
  margin-bottom: 1rem;
}
.nav-link-forward,
.nav-link-backward {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 0;
}
#projects .nav-link-backward {
  margin-bottom: 1rem;
}
.nav-link-forward > *:not(:last-child),
.nav-link-backward > *:not(:last-child) {
  margin-right: 10px;
}
.nav-link-forward:after,
.nav-link-backward:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .nav-link-forward:after,
  .nav-link-backward:after {
    width: 100%;
  }
}
.nav-link-forward:after {
  left: 0;
}
.nav-link-backward:after {
  right: 0;
}
.nav-link-forward:hover:after,
.nav-link-forward:focus:after,
.nav-link-backward:hover:after,
.nav-link-backward:focus:after {
  width: 100%;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--muted-color);
}
.external-link {
  color: var(--muted-color);
  font-style: italic;
  margin-top: 0.5rem;
}
.external-link:first-of-type {
  margin-top: 0.8rem;
}

@media (min-width: 600px) {
  hr {
    visibility: hidden;
  }
}
@media (min-height: 680px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}

/* routing*/

/* hide all pages */
body > * {
  display: none;
}
/* except the default for the  '/' path) */
#home {
  display: block;
}
/* show the page with the id that matches the hash route (/#projects, /#about etc.) */
body > *:target {
  display: block;
}
/* hide the default '/' page when something else is active */
body > *:target ~ #home {
  display: none;
}
