#liard-fallback {
  display: none;
}
#lizard-outer-container {
  z-index: 1;
  position: relative;
  width: fit-content;
  padding: 1rem;
}
#lizard-inner-container {
  position: relative;
  width: 80px;
  height: 80px;
  transition: transform 0.2s;
}
#lizard-body-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#lizard-sprite {
  display: none;
}
#lizard-head-location {
  position: absolute;
  top: 10%;
  left: 53%;
}

#lizard-head {
  display: none;
  position: absolute;
  top: -21%;
  left: 34%;
  transform-origin: 50% 86%;
  transform: rotate(-30deg) scaleX(-1);
  transition: transform 0.25s;
}
